<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
	<meta charset="utf-8">
	<title>Create Stay</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
	<script src="createStay.js" type="text/javascript"></script>
</head>

<body>
	<header class="d-flex justify-content-center py-3 bg-light">
        <ul class="nav nav-pills">
            <li class="nav-item"><a href="/" class="nav-link">Dashboard</a></li>
            <li class="nav-item"><a href="/booking" class="nav-link">Create Booking</a></li>
            <li class="nav-item dropdown">
            	<a class="nav-link dropdown-toggle active" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">Stay</a>
            	<ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            		<li><a class="dropdown-item" href="/stay/create">Create Stay</a>
            		<li><a class="dropdown-item" href="/stay">Overview</a>
            	</ul>
            </li>
            <li class="nav-item"><a href="/room" class="nav-link">Rooms</a></li>
            <li class="nav-item"><a href="#" class="nav-link">Bill</a></li>
        </ul>
    </header>
     <div class="content container my-3">
        <p class="fs-3">Create Stay</p>
        <form class="new_stay row" action="#" th:object="${form}" th:action="@{/stay/create}" method="post">
        	<input class="form-control d-none" type="text" th:field="*{customerId}">
        	<input class="form-control d-none" type="text" th:field="*{bookingId}">
            <div class="col-6">
                <p class="fs-5">Customer information</p>
                <button th:if="${form.bookingId == null}" type="button" class="btn btn-secondary mb-4" data-bs-toggle="modal" data-bs-target="#customerSelection">Add existing customer</button>
                <div class="row-6">
					<div class="form-check-inline">
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="individualCustomerRadio" value="individualCustomer" checked th:disabled="*{customerId != null}">
						<label class="form-check-label" for="flexRadioDefault1">Individual Customer</label>
					</div>
					<div class="form-check-inline">
						<input class="form-check-input" type="radio" name="flexRadioDefault" id="companyCustomerRadio" value="companyCustomer" th:disabled="*{customerId != null}">
						<label class="form-check-label" for="flexRadioDefault2">Company / Travel Agency</label>
					</div>             	
				</div>
                <div class="form-row row my-2 individualCustomer">
                    <div class="col">
                        <label class="form-label" for="firstName">First name</label><br>
                        <input class="form-control" type="text" th:field="*{firstName}" th:disabled="*{customerId != null}" required>
                    </div>
                    <div class="col">
                        <label class="form-label" for="middleName">Middle name</label><br>
                        <input class="form-control" type="text" th:field="*{middleName}" th:disabled="*{customerId != null}">
                    </div>
                    <div class="col">
                        <label class="form-label" for="lastName">Last name</label><br>
                        <input class="form-control" type="text" th:field="*{lastName}" th:disabled="*{customerId != null}" required>
                    </div>
                </div>
                <div class="form-row row mb-2 individualCustomer">
                    <div class="col">
                        <label class="form-label" for="gender">Gender</label><br>
                        <select class="form-control" th:field="*{gender}" th:disabled="*{customerId != null}" required>
			                <option th:each="n : ${T(at.fhv.se.hotel.managementSoftware.domain.enums.Gender).values()}" th:text="${n.displayValue}" th:value="${n}" ></option>
			            </select>
                    </div>
                    <div class="col">
                        <label class="form-label" for="birthdate">Date of Birth</label><br>
                        <input class="form-control" type="date" th:field="*{birthdate}" th:disabled="*{customerId != null}" required>
                    </div>
                </div>
                <div class="form-row row my-2 companyCustomer d-none">
                    <div class="col-8">
                        <label class="form-label" for="companyName">Company name</label><br>
                        <input class="form-control" type="text" th:field="*{companyName}" th:disabled="*{customerId != null}" required>
                    </div>
            		<div class="col-4">
                        <label class="form-label" for="discountRate">Discount Percentage</label><br>
                        <input class="form-control" type="number" th:field="*{discountRate}" th:disabled="*{customerId != null}" min="1" oninput="this.value = Math.abs(this.value)" required>
                    </div>
                </div>
                <div class="form-row row mb-2">
                    <div class="col">
                        <label class="form-label" for="email">Email</label><br>
                        <input class="form-control" type="text" th:field="*{email}" th:disabled="*{customerId != null}" required>
                    </div>
                    <div class="col">
                        <label class="form-label" for="phoneNumber">Phone number</label><br>
                        <input class="form-control" type="text" th:field="*{phoneNumber}" th:disabled="*{customerId != null}" required>
                    </div>
                </div>
                <hr>
                <div class="form-row row mb-2">
                    <div class="col-8">
                        <label class="form-label" for="streetName">Street name</label><br>
                        <input class="form-control" type="text" th:field="*{streetName}" th:disabled="*{customerId != null}" required>
                    </div>
                    <div class="col-4">
                        <label class="form-label" for="streetNumber">Street number</label><br>
                        <input class="form-control" type="text" th:field="*{streetNumber}" th:disabled="*{customerId != null}" required>
                    </div>
                </div>
                <div class="form-row row mb-2">
                    <div class="col-8">
                        <label class="form-label" for="city">City</label><br>
                        <input class="form-control" type="text" th:field="*{city}" th:disabled="*{customerId != null}" required>
                    </div>
                    <div class="col-4">
                        <label class="form-label" for="postcode">Postcode</label><br>
                        <input class="form-control" type="text" th:field="*{postcode}" th:disabled="*{customerId != null}" required>
                    </div>
                </div>
                <div class="form-row mb-2">
                    <label class="form-label" for="country">Country</label><br>
                    <select class="form-control" th:field="*{country}" th:disabled="*{customerId != null}" required>
                    	<option value="null" hidden>Select country...</option>
						<option value="Germany">Germany</option>
						<option value="Austria">Austria</option>
						<option value="Switzerland">Switzerland</option>
						<option value="United Kingdom">United Kingdom</option>
                    </select>
                </div>
            </div>
            <div class="col-6">
                <p class="fs-5">Stay information</p>
                <div class="form-row row mb-2">
                    <div class="col">
                        <label class="form-label" for="check-in">Check-in Date</label><br>
                        <input class="form-control" type="date" th:field="*{checkInDate}" th:disabled="${bookingId != null}" required>
                    </div>
                    <div class="col">
                        <label class="form-label" for="check-out">Check-out Date</label><br>
                        <input class="form-control" type="date" th:field="*{checkOutDate}" th:disabled="*{bookingId != null}" required>
                    </div>
                </div>
                <div class="form-row mb-2 roomSelection">
                    <label for="categoryList">Add Rooms</label><br>
                    <th:block th:each="cat, catStat : *{categoryValues}">
                    	<div class="roomEntry form-row row mb-1" th:each="i: ${#numbers.sequence(0, form.categoryCount[catStat.index]-1)}">
	                   		<div class="col">
					            <select class="form-control roomCategorys" required th:disabled="*{bookingId != null}">
					              <option th:each="n : ${roomCategories}" th:text="${n.name}" th:value="${n.categoryId.getId()}" th:selected="${n.categoryId.getId() == cat}"></option>
					            </select>
					        </div>
					        <div class="col">
					        	<input class="form-control roomNumber" type="text" required>
					        </div>
					    </div>
                    </th:block>
                    <button type="button" class="btn btn-secondary addCategoryBtn" th:if="*{bookingId == null}">+</button>
                    <button type="button" class="btn btn-secondary removeCategoryBtn" th:if="*{bookingId == null}">-</button>
                </div>
                <div class="form-row mb-2">
                    <label class="form-label" for="guestCount">Number of Guests</label><br>
                    <input class="form-control" type="number" th:field="*{guestCount}" th:disabled="*{bookingId != null}" required>
                </div>
                <div class="form-row row mb-2">
                    <div class="col-9">
                        <label class="form-label" for="creditCardNumber">Credit card number</label><br>
                        <input class="form-control" type="text" id="creditCardNumber" th:field="*{creditCardNumber}" th:disabled="*{bookingId != null}" placeholder="4242 4242 4242 4242" required>
                    </div>
                    <div class="col-3">
                        <label class="form-label" for="creditCardNumber">Valid until</label><br>
                        <input class="form-control" type="text" id="creditCardExpiration" th:field="*{creditCardValid}" th:disabled="*{bookingId != null}" placeholder="MM/YY" required>
                    </div>
                </div>
                <div class="row-6">
                	<p class="fs-5">Guest information</p>
	                	<div class="form-check form-check-inline">
							  <input class="form-check-input defaultGuest" type="radio" th:field="*{guest}" value="newGuest" required>
							  <label class="form-check-label" for="inlineCheckbox1">New Guest</label>
						</div>
						<div class="form-check form-check-inline">
							  <input class="form-check-input" type="radio" th:field="*{guest}" value="sameAsCustomer" required>
							  <label class="form-check-label" for="inlineCheckbox2">Same as Customer</label>
						</div>
	                <div class="form-row row my-2">
                    <div class="col guest">
                        <label class="form-label" for="guestFirstName">First name</label><br>
                        <input class="form-control" type="text" th:field="*{guestFirstName}" required>
                    </div>
                    <div class="col guest">
                        <label class="form-label" for="guestMiddleName">Middle name</label><br>
                        <input class="form-control" type="text" th:field="*{guestMiddleName}">
                    </div>
                    <div class="col guest">
                        <label class="form-label" for="lastName">Last name</label><br>
                        <input class="form-control" type="text" th:field="*{guestLastName}" required>
                    </div>
                	<div class="form-row row mb-2">
                    <div class="col guest">
                        <label class="form-label" for="phoneNumber">Phone number</label><br>
                        <input class="form-control" type="text" th:field="*{guestPhoneNumber}" required>
                    </div>
                </div>
            </div>
            </div>
            </div>
            
            <div class="col">
	            <div class="roomEntry d-none form-row row mb-1" th:each="m : ${stays}">
			        <div class="col">
			            <select class="form-control categoryValues" required>
			              <option th:each="n : ${roomCategories}" th:text="${n.name}" th:value="${n.categoryId.getId()}"></option>
			            </select>
			        </div>
			        <div class="col">
			        	<input class="form-control roomNumber" type="text" required>
			        </div>
			    </div>
             	<button type="submit" class="btn btn-primary">Create Stay</button>
                <button type="button" class="btn btn-secondary resetBtn">Reset</button>
            </div>
        </form>
    </div>
  

    <!-- Customer Selection Modal -->
    <div class="modal fade" id="customerSelection" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="customerSelectionLabel">Select customer</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                </div>
                <div class="modal-body">
                    <input class="form-control mb-3" type="text" id="customerSearch" placeholder="search here...">
                    <ul class="list-group customerList">
                        <!-- Dynamically load all customer -->
                        <li class="list-group-item" th:each="n : ${customers}">
                        	<a th:if="${n.middleName != null}" th:href="@{/stay/create(customerId=${n.customerId.getId()})}" th:text="${n.firstName}+' '+${n.middleName}+' '+${n.lastName}"></a>
                        	<a th:if="${n.middleName == null}" th:href="@{/stay/create(customerId=${n.customerId.getId()})}" th:text="${n.firstName}+' '+${n.lastName}"></a>
                        </li>
                    </ul>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <div class="roomSuggestions d-none">
    	<div class="suggestion" th:each="n, stats : ${roomSuggestions}">
    		<span class="category"  th:text="${catIdSuggestions[stats.index]}"></span>
    		<span class="room"  th:text="${n}"></span>
    	</div>
    </div>
</body>
</html>