body{
  height: 100%;
  margin: 0px;
}

.header {
  background-color: rgb(74, 136, 255);
  overflow: hidden;
}

.header a {
  float: left;
  display: block;
  color: rgb(255, 255, 255);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.header a:hover {
  border-bottom: 3px solid red;
}

.header a.active {
  border-bottom: 3px solid red;
}

.header li{
  text-align: center;
}

.row{
  display: flex;
}

.column{
  padding: 20px;
}

input{
  font-size: 20px;
  display: block;
}
