<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Create Booking</title>
    <link rel="stylesheet" href="stylesheet.css">
  </head>

  <body>
    <div class="header">
      <a href="upcoming_check-ins.html" class="active">Upcoming Check-ins</a>
      <a href="create_booking.html">Create Booking</a>
      <a href="#">Edit Booking</a>
      <a href="#">Create Stay</a>
      <a href="#">Edit Stay</a>
      <a href="#">Intermediary Bill</a>
      <a href="#">Final Bill</a>
    </div>

    <div class="content">

    </div>
  </body>
</html>
